* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: content-box;
  // outline: 1px solid red;

  @media (max-width: 1200px) {
    width: 753px;
    padding-left: 16px;
    padding-right: 16px;
    // outline: 1px solid red;
  }

  @media (max-width: 770px) {
    width: 356px;
    padding-left: 13px;
    padding-right: 13px;
    outline: 1px solid red;
  }
}
